<!DOCTYPE html>
<html>
<head>
  <title>GoogleDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<%= APP_CONFIG["google-site-verification"] %>-->
  <!-- 社内ICT用-->
  <meta name="google-site-verification" content="c-8EfyL4cvVGcHo3sdHoTYPhR7ELgKEdyCMGeXVJKyg" />
  <meta name="google-site-verification" content="M94zYWBSG4bDiDIkS3rxEsdxtJqAiqIs2uP0vpjk_S4" />
  <!-- すまいIot用-->
  <meta name="google-site-verification" content="PZDi1CWGW25rzFiv5I5OBN2btplsGK2ErW3jxVZ8DsQ" />
  <!-- yumiko会社アカウント開発環境用-->
  <meta name="google-site-verification" content="GjrpZTTl2nFPzC_HV8t4yWwnEfIY2gRa8zr9zFqCnvM" />
  <!-- yumiko会社アカウントhttps://kkeapidemo.herokuapp.com/環境用-->
  <meta name="google-site-verification" content="VY828dvkuSV4Nle4fUX33ss5IEMQBHc4CSwM2qh3VdA" />

</head>
<body>

<%= yield %>

</body>
</html>
